/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.map {
    -fx-background-color: #EBE6DC;
}

.input_text {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 2px;
    -fx-border-radius:10px;
  }
  .input_btn {
    -fx-padding: 5px;
    -fx-background-insets: 2px;
    -fx-border-radius:10px;
  }

  .no-back {
    -fx-background-color: rgba(255, 255, 255, 1);
  }